In [1]:
from ml_model import ModelRunner
import pandas as pd

In [2]:
xDataSet = pd.read_parquet('../data/processed/dataset_cardio_balan.parquet')
xDataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70042 entries, 0 to 70041
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          70042 non-null  float64
 1   height       70042 non-null  float64
 2   weight       70042 non-null  float64
 3   ap_hi        70042 non-null  float64
 4   ap_lo        70042 non-null  float64
 5   cholesterol  70042 non-null  float64
 6   gluc         70042 non-null  float64
 7   smoke        70042 non-null  float64
 8   alco         70042 non-null  float64
 9   active       70042 non-null  float64
 10  hombre       70042 non-null  float64
 11  mujer        70042 non-null  float64
 12  cardio       70042 non-null  int64
dtypes: float64(12), int64(1)
memory usage: 6.9 MB

In [3]:
xDataSet.describe()

,age,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,hombre,mujer,cardio
count,70042.000000,70042.000000,70042.000000,70042.000000,70042.000000,70042.000000,70042.000000,70042.000000,70042.000000,70042.000000,70042.000000,70042.000000,70042.000000
mean,19468.961337,164.358014,74.207922,128.820565,96.635933,1.367065,1.226521,0.088133,0.053753,0.803761,0.349547,0.650453,0.500000
std,2467.260552,8.211080,14.395868,153.965824,188.447350,0.680376,0.572371,0.283490,0.225532,0.397155,0.476830,0.476830,0.500004
min,10798.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,17664.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,19703.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.500000
75%,21327.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,23713.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
xDataSet.head()

,age,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,hombre,mujer,cardio
0,18393.0,168.0,62.0,110.0,80.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0
1,20228.0,156.0,85.0,140.0,90.0,3.0,1.0,0.0,0.0,1.0,0.0,1.0,1
2,18857.0,165.0,64.0,130.0,70.0,3.0,1.0,0.0,0.0,0.0,0.0,1.0,1
3,17623.0,169.0,82.0,150.0,100.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1
4,17474.0,156.0,56.0,100.0,60.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0

In [5]:
example = {
    "age": 18393, "height": 168, "weight": 62.0, "ap_hi": 110, "ap_lo": 80,
    "cholesterol": 1, "gluc": 1, "smoke": 0, "alco": 0, "active": 1, "hombre": 1, "mujer": 0
}

# Crear el runner
runner = ModelRunner(
    dataset=xDataSet,                  # tu DataFrame
    target_column="cardio",          # la columna objetivo
    mlflow_url="http://127.0.0.1:8080",  # tu tracking server
    experiment_name="heart_attack",
    input_example = example
)

# Ejecutar los entrenamientos

runner.run()

Entrenando modelo: RandomForestClassifier(n_jobs=-1) con % 0.1
    Registrando Experimento
üèÉ View run heart_attack at: http://127.0.0.1:8080/#/experiments/1/runs/18e707f958164711ba9937c8a2e28d6d
üß™ View experiment at: http://127.0.0.1:8080/#/experiments/1
Entrenando modelo: RandomForestClassifier(n_estimators=1000, n_jobs=-1) con % 0.1
    Registrando Experimento
üèÉ View run heart_attack at: http://127.0.0.1:8080/#/experiments/1/runs/5ded811146144c478a629187cc3cd70e
üß™ View experiment at: http://127.0.0.1:8080/#/experiments/1
Entrenando modelo: MLPClassifier(hidden_layer_sizes=(20,), max_iter=500) con % 0.1
    Registrando Experimento
üèÉ View run heart_attack at: http://127.0.0.1:8080/#/experiments/1/runs/a2833af1b52847d185cc5a41874d1479
üß™ View experiment at: http://127.0.0.1:8080/#/experiments/1
Entrenando modelo: MLPClassifier(hidden_layer_sizes=(32, 16), max_iter=800) con % 0.1
    Registrando Experimento
üèÉ View run heart_attack at: http://127.0.0.1:8080/#/experiments/1/runs/af271b1178a04073b2406535b11a931a
üß™ View experiment at: http://127.0.0.1:8080/#/experiments/1
Entrenando modelo: MLPClassifier(activation='tanh', hidden_layer_sizes=(40,), max_iter=700) con % 0.1
    Registrando Experimento
üèÉ View run heart_attack at: http://127.0.0.1:8080/#/experiments/1/runs/838f48a01ba849958f5bd8fd55b5ec34
üß™ View experiment at: http://127.0.0.1:8080/#/experiments/1
Entrenando modelo: MLPClassifier(hidden_layer_sizes=(30,), learning_rate_init=0.05, max_iter=600,
              solver='sgd') con % 0.1
    Registrando Experimento
üèÉ View run heart_attack at: http://127.0.0.1:8080/#/experiments/1/runs/9f04ebef0e9f449e9c1d267e69152720
üß™ View experiment at: http://127.0.0.1:8080/#/experiments/1
Entrenando modelo: MLPClassifier(hidden_layer_sizes=(16, 16, 8), max_iter=800) con % 0.1
    Registrando Experimento
üèÉ View run heart_attack at: http://127.0.0.1:8080/#/experiments/1/runs/8034acebd5e84063bd574dff6f51a537
üß™ View experiment at: http://127.0.0.1:8080/#/experiments/1